# ignore all file in Debug
Debug/

# ignore all file in Release
Release/

# ignore all file in x64
x64/

# ignore
*.ico
petools-src/*.vcxproj
petools-src/*.filters
petools-src/*.user
petools-src/*.manifast
